<h1>Welcome to Surveys</h1>

<div class="container">
  <a href="/surveys" class="btn btn-primary btn-lg btn-block">Admin</a>
</br>
<a href="/surveys/new" class="btn btn-primary btn-lg btn-block">Take a Survey</a>
</div>
